---
import HomeHero from "@components/layout/HomeHero.astro";
import HomePending from "@components/layout/HomePending.astro";
import MainGridLayout from "@/layouts/MainGridLayout.astro";
---

<MainGridLayout>
	<div class="home-page home-page--motion-pending">
		<HomeHero />
		<HomePending />
	</div>
</MainGridLayout>
