<div
	id="page-loader"
	class="page-loader page-loader--visible"
	role="status"
	aria-live="polite"
	aria-label="Page loading"
>
	<div
		aria-label="Running animation"
		role="img"
		class="page-loader__wheel-and-hamster"
	>
		<div class="page-loader__wheel"></div>
		<div class="page-loader__hamster">
			<div class="page-loader__hamster-body">
				<div class="page-loader__hamster-head">
					<div class="page-loader__hamster-ear"></div>
					<div class="page-loader__hamster-eye"></div>
					<div class="page-loader__hamster-nose"></div>
				</div>
				<div class="page-loader__hamster-limb page-loader__hamster-limb--fr"></div>
				<div class="page-loader__hamster-limb page-loader__hamster-limb--fl"></div>
				<div class="page-loader__hamster-limb page-loader__hamster-limb--br"></div>
				<div class="page-loader__hamster-limb page-loader__hamster-limb--bl"></div>
				<div class="page-loader__hamster-tail"></div>
			</div>
		</div>
		<div class="page-loader__spoke"></div>
	</div>
	<span class="page-loader__sr-only">Loading</span>
</div>
